@import('./_global/normalize.css')
html, body
  height 100%
  width 100%

body
  background-image url('/images/book.jpg')
  background-size cover

.title
  color blue
  
.gravatar
  border-radius 50%
  cursor pointer
  width 150px
  height 150px