@import('./_global/normalize.css')
html, body
  height 100%
  width 100%

a, a:link, a:visited
  text-decoration none

.title
  color blue
  
.gravatar
  border-radius 50%
  cursor pointer
  width 150px
  height 150px
  