@import('./_global/normalize.css')
html, body
  height 100%
  width 100%

a, a:link, a:visited
  text-decoration none

.title
  color blue
  
.gravatar
  border-radius 150px
  cursor pointer
  width 150px
  height 150px
  border 2px solid #fff
  transition all 500ms ease
  &:hover
    transform rotate(-360deg)
  