doctype html
html
  meta(charset="utf-8")
  meta(description="Welcome to Yishan's personal Website")
  link(href="/styles/common.css", rel='stylesheet')
  link(href="/styles/index.css", rel='stylesheet')
body
  img(src="http://en.gravatar.com/userimage/65307196/e14157971b0a1a7978014ff011d99cd9.png?size=150")
  h1 Azzfun
  h2 お主はお主の地平線を目指して
  div
    span(class=common.title) blog
    span(class=css.title) linkin
    span github
    span rss
    span other
