body {
  background-image: url("/images/book.jpg");
  background-size: cover;
  background-position: center center;
}
._title_17way_6 {
  margin: 16px 0 0;
  color: #ffd61b;
  text-align: center;
  font-size: 100px;
  font-family: Times-Roman, sans-serif;
}
._subtitle_17way_13 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
._subtitle_17way_13 i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #fff;
  height: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
._subtitle_17way_13 h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-family: Times-Roman;
}
._gravatarWarper_17way_31 {
  width: 100%;
  text-align: center;
  padding-top: 130px;
}
._menu_17way_36 {
  text-align: center;
  margin: 0;
  padding: 30px 0;
}
._menu_17way_36 li {
  display: inline-block;
  list-style-type: none;
  padding: 0 56px;
}
._menu_17way_36 li a {
  color: #1bb0ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._menu_17way_36 li a i {
  margin-bottom: 24px;
}
._menu_17way_36 li a span {
  font-size: 24px;
  color: #fff;
}
._menu_17way_36 li a:active i,
._menu_17way_36 li a:hover i {
  text-shadow: 1px 1px 2px #fff;
}
._menu_17way_36 li a:active span,
._menu_17way_36 li a:hover span {
  color: #efeeee;
}
